table.speedcube {
	background-color: inherit !important;
	border-collapse: separate !important;
}

.speedcube td {
	min-width: unset !important;
	min-height: unset !important;
	width: 30px !important;
	height: 30px !important;
	padding: 0 !important;
	margin: 0 !important;
	border-width: 0 !important;
}

.speedcube td.red {
	background-color: #F80409;
}

.speedcube td.green {
	background-color: #178A29;
}

.speedcube td.blue {
	background-color: blue;
}

.speedcube td.yellow {
	background-color: #FDDE00;
}

.speedcube td.orange {
	background-color: #FF8004;
}

.speedcube td.white {
	background-color: white;
}

.speedcube td.green {
	background-color: #178A29;
}

.speedcube td.any {
	background-color: lightgray;
}

.speedcube td.blank {
	background-color: transparent;
}

.speedcube td.col-1,
td.col-5 {
	width: 8px !important;
}

.speedcube td.row-1,
td.row-5 {
	height: 8px !important;
}
